<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <div>
              <% if(messages.error){ %>
                <%= messages.error %>
              <%}%>
          </div>
          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    fetch('http://localhost:5000/getAllAdmin').then(response => response.json()).then(data => console.log(loadAllAdmin(data["data"])));
    function loadAllAdmin(data) { 
      fetch('http://localhost:5000/postAdmin', {
         method: 'POST',
         headers: {'Content-Type':'application/json'},
         body: JSON.stringify({
            postContent: data
         })

      })
    }
  })
  function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
  }
  function onSignIn(googleUser) {
        // var profile = googleUser.getBasicProfile();
        // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log('Name: ' + profile.getName());
        // console.log('Image URL: ' + profile.getImageUrl());
        // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        var id_token = googleUser.getAuthResponse().id_token;
        // console.log(id_token);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/googleLogin');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                signOut();
                location.assign('/profile')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));
  }
</script>
<%- include('partials/footer') %>
